<div *ngIf="loading" class="text-center">Cargando detalles…</div>
<ng-container *ngIf="!loading && product; else errTpl">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="product.image" class="img-fluid rounded-start" alt="{{ product.name }}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <h6>{{ product.price | currency:'EUR' }}</h6>
          <div class="mb-2">
            <label for="qty">Cantidad:</label>
            <input id="qty" type="number" class="form-control w-25 d-inline"
                   [(ngModel)]="quantity" [min]="1" [max]="product.stock">
          </div>
          <button class="btn btn-primary"
                  (click)="addToCart()"
                  [disabled]="product.stock===0">
            {{ product.stock>0 ? 'Añadir al carrito' : 'Sin stock' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #errTpl>
  <div class="alert alert-danger">{{ error }}</div>
</ng-template>
